.Logo{
    width: 140px;
    height: 60px;
}
.Main_Navbar{
    font-family: 'Montserrat', sans-serif;
    display: ;
    background-color: rgba(0, 0, 0, 0.897);
}
.Name:hover{
    color: red;
}
.ImageSection{
    margin-left: -100px;
}
.SearchSection{
    margin-left: -20px;
    margin-right: -100px;
}
.Icons{
    margin-left: 100px;
}
.Navbar__Search{
    font-size: 16px;
    color: gray;
    width: 410px;
    margin-top: 16px;
    border: none;
    outline: none;
    padding: 2px 0px 3px 10px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.Navbar_Search_Button{
    padding: 3px 10px 3px 10px;
    background-color: rgb(0, 255, 128);
    color: black;
    border: none;
    font-size: 14px;
    outline: none!important;
    border: none!important;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    transition: 0.2s all ease-in-out;
}
.Navbar_Search_Button:hover{
    background-color: rgb(236, 236, 0);
}
.Profile_Icon{
    margin-left: -10px;
}
.Cart_Icon{
    margin-right: 10px;
}
.Navbar__Icons{
    margin-top: 5px;
    font-size: 36px;
    color: rgb(0, 255, 128);
    margin-top: -5px;
    transition: all 0.2s ease-in-out;
}
.Navbar__Icons:hover{
    color: white;
    border-top: 3px solid yellow;
}
.Navbar__Cart__Count{
    background-color: rgb(102, 255, 0);
    color: black;
    width: 15px;
    font-weight: bold;
    height: 16px;
    margin-left: -6px;
    margin-right: 6px;
    font-size: 12px;
    border-radius: 100%;
}
.Navbar_Login_Button{
    padding: 2px 10px 2px 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(0, 255, 128);
    border: 1px solid green;
    outline: none!important;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
.Navbar_Login_Button:hover{
    background-color: rgb(163, 255, 110);
    border: 1px solid grey;
    color: black;
}

@media (max-width: 770px){
    .Logo{
        height: 50px;
        width: 100px;
        padding: 0;
        margin: 0;
    }
    .Navbar__Search{
        padding: 0;
        padding-left: 5px;
        margin: 0;
        height: 25px;
        font-size: 12px;
    }
    .Navbar_Search_Button{
        padding: 0px 5px 0px 5px;
        margin: 0;
        height: 25px;
        font-size: 12px;
    }
    .Icons{
        margin-left: -10px;
        margin-top: 15px;
    }
    .Navbar__Icons{
        font-size: 32px;
    }
    .Navbar_Login_Button{
        padding: 0px;
        margin-left: 10px;
    }
}

 @media(max-width: 1073px){
     .SearchSection{
         margin-left: -150px;
     }
    .Navbar__Search{
        width: 350px;
    }
    .Icons{
        margin-left: 10px;
    }
}
@media(max-width: 850px){
    .SearchSection{
        margin-left: -50px;
    }
   .Navbar__Search{
       width: 250px;
   }
   .Icons{
       margin-left: 20px;
   }
   .Navbar__Icons{
       font-size: 32px;
   }
   .Navbar_Login_Button{
       font-size: 12px!important;
   }
   .Navbar__Cart__Count{
       height: 12px;
       width: 12px;
       font-size: 10px;
   }
}
 @media(max-width: 780px){
     .Logo{
         height: 50px;
         width: 80px;
     }
    .SearchSection{
        margin-left: -200px;
    }
   .Navbar__Search{
    width: 250px;
    margin-top: 13px;
    font-size: 13px;
    padding: 0px 0px 0px 5px;
    
   }
   .Navbar_Search_Button{
       margin-top: 13px;
   }
   .Icons{
       margin-left: -50px;
       margin-top: 10px;
   }.Navbar__Icons{
    font-size: 30px;
   }
   .Navbar_Login_Button{
       padding: 2px 5px 2px 5px;
       font-size: 11px!important;
   }
}
@media(max-width: 600px){
    .Navbar__Search{
        width: 230px;
    }
}

@media(max-width:664px){
    .Navbar__Search{
        width: 230px;
        margin-top: 13px;
        padding: 0px 0px 0px 5px;
    }
    .Navbar_Search_Button{
        font-size: 10px!important;
        margin-top: 13px;
    }
    .Navbar_Login_Button{
        padding: 1px 5px 1px 5px;
    }
    .Profile_Icon{
        font-size: 28px;
        margin-right: -20px;
    }
    .Navbar__Icons{
        font-size: 28px;
    }
    .Navbar_Login_Button{
        margin-left: -10px;
    }
    .Navbar_Login_Button{
        font-size: 10px!important;
        padding: 3px 10px 3px 10px;
    }
}
@media(max-width:550px){
    .Logo{
        height: 40px;
        width: 80px;
        margin-left: 10px;
    }
    .SearchSection{
        margin: 0px;
    }
    .Navbar__Search{
        width: 180px;
        height: 20px;
        margin-top: 13px;
        font-size: 10px;
        margin-left: -80px;
        padding: 0px 0px 0px 5px;
    }
    .Navbar_Search_Button{
        height: 20px;
        font-size: 8px!important;
        margin-top: 13px;
    }
    .Icons{
        margin-left: -10px;
    }
}
@media(max-width:466px){
    .Logo{
        height: 40px;
        width: 60px;
        margin-left: 40px;
    }
    .SearchSection{
        margin-left: -80px;
    }
    .Navbar__Search{
        width: 120px;
        height: 20px;
        margin-top: 13px;
        font-size: 10px;
        margin-left: 0px;
        padding: 0px 0px 0px 5px;
    }
    .Navbar_Search_Button{
        height: 20px;
        font-size: 8px!important;
        margin-top: 13px;
    }
    .Icons{
        margin-left: -40px;
    }
    .Navbar__Icons{
        font-size: 25px;
    }
    .Navbar_Login_Button{
        font-size: 9px!important;
        padding: 2px 8px;
    }
    .Profile_Icon{
        margin-right: -10px;
    }
    .Cart_Icon{
        margin-left: -6px;
    }
    .Navbar__Cart__Count{
        height: 8px;
        width: 8px;
    }
}

@media(max-width:370px){
    .Logo{
        height: 30px;
        width: 60px;
        margin-left: 50px;
    }
    .SearchSection{
        margin-left: -60px;
    }
    .Navbar__Search{
        width: 80px;
        height: 18px;
        margin-top: 13px;
        font-size: 10px;
        padding: -2px 0px 0px 5px;
    }
    .Navbar_Search_Button{
        height: 18px;
        font-size: 8px!important;
        margin-top: 13px;
    }
    .Icons{
        margin-left: -25px;
    }
    .Navbar__Icons{
        font-size: 22px;
    }
    .Navbar_Login_Button{
        font-size: 9px!important;
        padding: 1px 6px;
    }
    .Profile_Icon{
        margin-right: -10px;
    }
    .Cart_Icon{
        margin-left: -7px;
    }
    .Navbar__Cart__Count{
        height: 8px;
        width: 8px;
    }
}