.Devices__Hover:hover{
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    color: blue;
}
#search{
    width: 85%;
    margin-right: 5px;
    padding: 5px;
    color: darkgrey;
    font-size: 14px;
    border: 1px solid rgb(136, 185, 1);
    border-radius: 5px;
}
.Images{
    width: 60px;
    height: 60px;
}