.Products_Cards{
    width: 200px;
    height:250px;
    color: black;
    margin-left: 8px;
    margin-right: 8px;
    padding-bottom: 10px;
}
.Products_Images{
    height: 140px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.Product_Discount{
    background-color: #ff4747;
    border-radius: 25px;
    color: white;
    font-size: 14px;
    height: 20px;
}
.Product_Cart_Icon{
    font-size: 20px;
    color: #ff4747;
    cursor: pointer;
}
.Product_Cart_Icon:hover{
    color: green;
}


.Scroll::-webkit-scrollbar {
   
    height: 10px;
  }
  
  .Scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgb(174, 189, 223); 
    border-radius: 10px;
  }
   
  .Scroll::-webkit-scrollbar-thumb {
    background: #e4e4e4; 
    border-radius: 10px;
  }

  .Scroll::-webkit-scrollbar-thumb:hover {
    background: #cfdfe8; 
  }

  .test{
      color: #b8b8b8;
  }