.Groceries_Heading{
    font-weight: bold;
    font-size: 22px;
    padding-left: 5%;
    /* background-color: yellow; */
}
.Groceries_Cards{
    position: relative;
    width: 100%;
    height:150px;
    border-radius: 3px;
}
.Groceriess_Image{
    width: 100%;
    height: 90%;
    margin-top: 5%;
    border-radius: 3px;
    margin-bottom: 5%;
}
.Groceriess_Name{
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    color: white;
}
.Groceriess_Rating{
    color: gold;
    font-size: 10px;
}
.Groceriess_Stock{
    font-size: 8px;
    color: white;
    font-weight: 500;
}
.Groceriess_Price{
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
}
.Groceriess_AddToCart_Button{
    background-color: yellow;
    color: black;
    width: 80%;
    margin-left: 10%;
    font-size: 10px;
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
    font-weight: 500;
    border-radius: 3px;
    outline: none!important;
    transition: all .2s ease-in-out;
}


.Groceriess_Detail{
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 96%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: -10px;
    position: absolute;
    transition: 0.5s;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
}
.Groceriess_Detail:hover{
    opacity: 1;
    margin-left: 0px;
}

.react-multiple-carousel__arrow{
    border: none!important;
    outline: none!important;
} 

@media(max-width: 600px){
    .Groceriess_Name{
        font-size: 13px;
    }
    .Groceriess_AddToCart_Button{
        margin-top: 0px;
    }
    
}
@media (max-width: 700px){
    .Groceries_Heading{
        text-align: center;
        font-size: 18px;
        background-color: rgba(248, 248, 248, 0.705);
    }
    .Groceries_Heading:hover{
        color: rgb(255, 141, 10);
    }
}

