.CategoriesNavigation_Icons{
    font-size: 22px;
    color: rgb(255, 102, 0);
    margin: 0;
    margin-right: 5px;
    padding-top: 5px;

}
.CategoriesNavigation_Icons2{
    font-size: 22px;
    color: rgb(255, 102, 0);
    margin: 0;
    padding-top: 5px;

}